@import url("https://fonts.googleapis.com/css2?family=Karla&family=Noto+Sans&family=Open+Sans&family=Roboto&display=swap");

html {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #ffffff;
  margin: 60px;
  font-family: "Open Sans", sans-serif;
}

.selection-btn {
  display: flex;
  padding: 20px;
  width: 800px;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
}

.selection-btn div {
  width: 110px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8fb3ff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
